<header class="w3-container w3-teal">
  <h1>Edit Workout</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
<form class="w3-container w3-card-4" action="/workouts/<%= @workout.id %>" method="POST">
  <input name="_method" type="hidden" value="patch">
  <p>
    <label for="title">Title:</label>
    <input class="w3-input" type="text" name="title" value="<%= @workout.title %>" />
  </p>
  <p>
    <label for="date">Date:</label>
    <input class="w3-input" type="text" name="date" value="<%= @workout.date %>" />
  </p>
  <p>
    <label for="duration">Duration:</label>
    <input class="w3-input" type="text" name="duration" value="<%= @workout.duration %>" />
  </p>
  <p>
  <label>Exercise(s)</label>
    <% Exercise.all.each do |exercise| %>
      <label><%= exercise.name %></label>
      <input class="w3-check" id="<%= exercise.name %>" type="checkbox" name="exercises[]" value="<%= exercise.id %>" <%= 'checked' if @workout.exercises.include?(exercise) %> />
    <% end %>
  </p>
  <p>
    <label for="exercise">and/or Add New Exercise:</label>
    <input class="w3-input" type="text" name="exercise" />
  </p>
  <P>
    <label for="note">Note:</label>
    <textarea class="w3-input" name="note"><%= @workout.note %></textarea>
  </P>
  <input class="w3-button w3-section w3-teal w3-ripple" type="submit" value="Update" />
  <a href="/workouts/<%= @workout.id %>" class="w3-button w3-light-grey">Cancel</a>
</form>
</div>
