<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>
<h1>Workout <%= @workout.title %></h1>
<p>Date: <%= @workout.date %></p>
<p>Duration: <%= @workout.duration %></p>

<ul>
  <% @workout.exercises.each do |exercise| %>
    <li><%= exercise.name %></li>
  <% end %>
</ul>

<p>
  <%= @workout.note %>
</p>

<a href="/workouts/<%= @workout.id %>/edit">Edit</a>
<<<<<<< HEAD

=======
>>>>>>> 171eec4562459fba1ab3c037033c39c6d7f49da6
